* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 982px;
  background: rgba(247,247,247,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_13 {
  width: 100%;
  color: rgba(40,44,52,1);
  position: absolute;
  top: 335px;
  left: 72px;
  font-family: PT Mono;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2202_2 {
  width: 100%;
  height: 122px;
  background: url("../images/v2202_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 0px;
  overflow: hidden;
}
.v16_4 {
  width: 100%;
  height: 122px;
  background: linear-gradient(rgba(9,92,181,1), rgba(255,255,255,1));
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2203_4 {
  width: 230px;
  height: 95px;
  background: rgba(0,86,179,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 345px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v16_5 {
  width: 230px;
  height: 95px;
  background: rgba(0,86,179,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 45px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v16_6 {
  width: 101px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 110px;
  font-family: PT Mono;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_10 {
  width: 87px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 417px;
  font-family: PT Mono;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_8 {
  width: 230px;
  height: 95px;
  background: rgba(0,86,179,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 645px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v16_11 {
  width: 72px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 720px;
  font-family: PT Mono;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v16_7 {
  width: 230px;
  height: 95px;
  background: rgba(0,86,179,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 567px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v16_12 {
  width: 72px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 495px;
  font-family: PT Mono;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2203_6 {
  width: 230px;
  height: 95px;
  background: rgba(0,86,179,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 267px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v2204_9 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 49px;
  left: 210px;
  font-family: PT Mono;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v2203_2 {
  width: 307px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 635px;
  font-family: PT Mono;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v2204_91 {
  width: 227px;
  height: 89px;
  background: url("../images/v2204_91.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 48px;
  overflow: hidden;
}
.v2204_92 {
  width: 232px;
  height: 91px;
  background: url("../images/v2204_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 343px;
  overflow: hidden;
}
.v2204_93 {
  width: 231px;
  height: 94px;
  background: url("../images/v2204_93.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 161px;
  left: 644px;
  overflow: hidden;
}
.v2204_94 {
  width: 233px;
  height: 97px;
  background: url("../images/v2204_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 570px;
  overflow: hidden;
}
.v2204_95 {
  width: 228px;
  height: 91px;
  background: url("../images/v2204_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 265px;
  overflow: hidden;
}
.v2204_150 {
  width: 90px;
  height: 90px;
  background: url("../images/v2204_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 567px;
  overflow: hidden;
}
